// colours
$bg-grey: #3c3c4c;
$box-dark: rgba(39, 39, 51,0.7);
$clr-white: #FCFCFC;
$clr-salmon: #FA8072;
$clr-btn-hover: #3A3A4B;
$clr-light-grey: #B9B9B9;
$clr-dark-grey: #8D8D8D;
$bg-dark: #2B2B38;
$clr-tabs: #272733;

// fonts
$ff-poppins: 'Poppins';
$ff-roboto: 'Roboto';

// font weights
$fw-400: 400;
$fw-300: 300;

// letter spacing
$ltr-spc-1: 1px;
$ltr-spc-2: 2px;